In [1]:
# Data Science Notebook

## Introduction
Welcome to this data science notebook!
In this notebook, we will explore various data science concepts, languages, libraries, and tools.

## Data Science Languages
- Python
- R
- SQL

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib

## Data Science Tools

| Tool         | Description                           |
|--------------|---------------------------------------|
| Jupyter      | Interactive computing environment     |
| TensorFlow   | Open-source machine learning framework|
| scikit-learn | Machine learning library              |

## Arithmetic Expressions
In this section, we will explore some examples of arithmetic expressions.

## Code Cells

```python
# Exercise 8

## Objectives
- Introduce data science languages and libraries
- Perform basic arithmetic operations
- Convert units of time

## Author
This notebook was created by [Rohit Neogi].

SyntaxError: invalid syntax (<ipython-input-1-296baa9fbb92>, line 4)

In [2]:
# Multiply and add numbers
a = 5
b = 10
result = a * b + (a + b)
print(result)

65

In [3]:
# Exercise 9
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(hours)

2.0